services:
  action:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspace:cached
    ports:
      - "6055:6055"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - devcontainer_rasa-network

networks:
  devcontainer_rasa-network:
    driver: bridge

volumes:
  ollama_data: