services:
  rasa:
    build: 
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspace
    depends_on:
      - duckling
      - redis
    ports:
      - "5005:5005"
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"

  redis:
    image: redis:alpine
    command: ["redis-server", "--save", "20", "1", "--loglevel", "warning"]

  duckling:
    image: rasa/duckling:latest